.cm-s-default span.cm-keyword {color: #B0362B}
.cm-s-default span.cm-atom {color: rgb(15, 87, 136);}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #195FB0; /*#12447D;*/}
.cm-s-default span.cm-variable {color: #333;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #0a5;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: #777;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: rgb(88, 181, 53); /*#04632F;*/}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}
.cm-s-default span.cm-node {color: #777;}

.cm-s-default span.cm-plsql-word {color: #333;}
.cm-s-default span.cm-null {color: #333;}
.cm-s-default span.cm-plsql-string {color: rgb(88, 181, 53);}


